*{
    color:burlywood
}



h1{
    color:aqua;
    background-color: red;
}
h2{
    color:honeydew;
}

button{
    color:blanchedalmond
    background-color #e2ff00;
}
body{
    background-color:rgb(200,50,65)
}


